<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{% static 'core/js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'core/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>Mujer</title>
    <link rel="icon" href="{% static 'core/img/logo look2.png' %}" type="image/png"/>
	<script type="text/javascript" charset="utf-8"></script>
</head>
<body class="fondo">
    <div class="logo">
        <center><h4> <img src="{% static 'core/img/logo look2.png' %}" height="30" alt="CoolBrand"> Look's</h4></center>
    </div>
    <nav>
        <ul class="menu">
            <li class="item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="item"><a href="{% url 'hombre' %}">Hombre</a></li>
            <li class="item"><a href="{% url 'mujer' %}">Mujer</a></li>
            <li class="item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li class="item"><a href="{% url 'contactanos' %}">Contáctanos</a></li>
            <li class="item"><a href="{% url 'ayudanos' %}">Ayúdanos</a></li>
            <li class="item"><a href="{% url 'iniciosesion' %}">Login</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>

    <script>
        const toggle = document.querySelector(".toggle");
        const menu = document.querySelector(".menu");
        const items = document.querySelectorAll(".item");

        /* Toggle mobile menu */
        function toggleMenu() {
            if (menu.classList.contains("active")) {
                menu.classList.remove("active");
                toggle.querySelector("a").innerHTML = "<i class='fas fa-bars'></i>";
            } else {
                menu.classList.add("active");
                toggle.querySelector("a").innerHTML = "<i class='fas fa-times'></i>";
            }
        }

        /* Activate Submenu */
        function toggleItem() {
            if (this.classList.contains("submenu-active")) {
                this.classList.remove("submenu-active");
            } else if (menu.querySelector(".submenu-active")) {
                menu.querySelector(".submenu-active").classList.remove("submenu-active");
                this.classList.add("submenu-active");
            } else {
                this.classList.add("submenu-active");
            }
        }

        /* Close Submenu From Anywhere */
        function closeSubmenu(e) {
            let isClickInside = menu.contains(e.target);

            if (!isClickInside && menu.querySelector(".submenu-active")) {
                menu.querySelector(".submenu-active").classList.remove("submenu-active");
            }
        }
        /* Event Listeners */
        toggle.addEventListener("click", toggleMenu, false);
        for (let item of items) {
            if (item.querySelector(".submenu")) {
                item.addEventListener("click", toggleItem, false);
            }
            item.addEventListener("keypress", toggleItem, false);
        }
        document.addEventListener("click", closeSubmenu, false);
    </script>
    <!--MENU BAR FIN-->
    
    <!-- CATALOGO -->
    <div class="wrap">
		<h1>Catálogo</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
				<a href="#" class="category_item" category="polera">Poleras</a>
				<a href="#" class="category_item" category="pantalon">Short</a>
				<a href="#" class="category_item" category="poleron">Polerones</a>
				<a href="#" class="category_item" category="zapatos">Zapatillas</a>
			</div>
			<!--PANTALONES-->
            <section class="products-list">
				<div class="product-item" category="pantalon">
					<img src="{% static 'core/img/catalogo mujer/pantalon1.jpg' %}" alt="" >
					<a href="#">Short Negro
                                <br>
                                $6.990
                    </a>
				</div>
				<div class="product-item" category="pantalon">
					<img src="{% static 'core/img/catalogo mujer/pantalon2.jpg' %}" alt="" >
					<a href="#">Short Pink Line
                                <br>
                                $6.990
                    </a>
				</div>
				<div class="product-item" category="pantalon">
					<img src="{% static 'core/img/catalogo mujer/pantalon3.jpg' %}" alt="" >
                    <a href="#">Short Adidas
                        <br>
                        $7.990
                    </a>
				</div>
				<div class="product-item" category="pantalon">
					<img src="{% static 'core/img/catalogo mujer/pantalon4.jpg' %}" alt="" >
                    <a href="#">Short Flower
                        <br>
                        $9.990
                    </a>
				</div>
                <!--POLERAS-->
                <div class="product-item" category="polera">
					<img src="{% static 'core/img/catalogo mujer/poler1.jpg' %}" alt="" >
                    <a href="#">Polera Serpiente
                        <br>
                        $9.990
                    </a>
				</div>
				<div class="product-item" category="polera">
					<img src="{% static 'core/img/catalogo mujer/polera2.jpg' %}" alt="" >
                    <a href="#">Polera Vitalogy
                        <br>
                        $9.990
                    </a>
				</div>
				<div class="product-item" category="polera">
					<img src="{% static 'core/img/catalogo mujer/polera3.jpg' %}" alt="" >
                    <a href="#">Polera Soil Power
                        <br>
                        $7.990
                    </a>
				</div>
				<div class="product-item" category="polera">
					<img src="{% static 'core/img/catalogo mujer/polera4.jpg' %}" alt="" >
                    <a href="#">Polera Peace
                        <br>
                        $5.990
                    </a>
				</div>
                <!--POLERONES-->
                <div class="product-item" category="poleron">
					<img src="{% static 'core/img/catalogo mujer/poleron1.jpg' %}" >
                    <a href="#">Poleron Darkland
                        <br>
                        $19.990
                    </a>
				</div>
                <div class="product-item" category="poleron">
					<img src="{% static 'core/img/catalogo mujer/poleron2.jpg' %}" alt="" >
                    <a href="#">Poleron Hollywood
                        <br>
                        $15.990
                    </a>
				</div>
                <div class="product-item" category="poleron">
					<img src="{% static 'core/img/catalogo mujer/poleron3.jpg' %}" alt="" >
                    <a href="#">Poleron NYC 
                        <br>
                        $12.990
                    </a>
				</div>
                <div class="product-item" category="poleron">
					<img src="{% static 'core/img/catalogo mujer/poleron4.jpg' %}" alt="" >
                    <a href="#">Poleron Honey
                        <br>
                        $10.990
                    </a>
				</div>
                <!--ZAPATILLAS-->
                <div class="product-item" category="zapatos">
					<img src="{% static 'core/img/catalogo mujer/zapatilla1.jpg' %}" alt="" >
                    <a href="#">Zapatillas Multicolor
                        <br>
                        $35.990
                    </a>
				</div>
                <div class="product-item" category="zapatos">
					<img src="{% static 'core/img/catalogo mujer/zapatilla2.jpg' %}" alt="" >
                    <a href="#">Zapatillas Negras
                        <br>
                        $31.990
                    </a>
				</div>
                <div class="product-item" category="zapatos">
					<img src="{% static 'core/img/catalogo mujer/zapatilla3.jpg' %}" alt="" >
                    <a href="#">Zapatillas Azul/Blancas
                        <br>
                        $27.990
                    </a>
				</div>
                <div class="product-item" category="zapatos">
					<img src="{% static 'core/img/catalogo mujer/zapatilla4.jpg' %}" alt="" >
                    <a href="#">Zapatillas Crema
                        <br>
                        $23.990
                    </a>
				</div>
			</section>
		</div>
	</div>
    <!--FIN CATALOGO-->

    <!--FOOTER CON MANTENTE EN CONTACTO-->
     <!--FOOTER CON MANTENTE EN CONTACTO-->
     <section id="info">
        <footer>
            <br>
            <h1> MANTENTE EN CONTACTO </h1>
            <p>
                Regístrate para recibir noticias sobre nuevos <br>
                lanzamientos y promociones exclusivas.<br>
            </p>
           <br>
            <form action="{% url 'registro' %}">
            <center><button class="button button1">Pulsa Aquí</button></center>
            </form>
            <br>
            <strong>
                <center>2021 &copy; Look´s</center>
            </strong>
        </footer>
    </section>
        <!--CIERRE FOOTER-->
   
    <!--CIERRE FOOTER-->
   

</body>