<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/jquery.flexslider.js' %}"></script>
    <link rel="icon" href="{% static 'core/img/logo look2.png' %}" type="image/png"/>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider({
                touch: true,
                pauseOnAction: false,
                pauseOnHover: false,
            });
        });
    </script>
    <title>Registro de Usuarios</title>
</head>

<body class="fondo">
    <div class="logo">
        <center>
            <h4> <img src="{% static 'core/img/logo look2.png' %}" height="30" alt="CoolBrand"> Look's</h4>
        </center>
    </div>
    <nav>
        <ul class="menu">
            <li class="item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="item"><a href="{% url 'hombre' %}">Hombre</a></li>
            <li class="item"><a href="{% url 'mujer' %}">Mujer</a></li>
            <li class="item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li class="item"><a href="{% url 'contactanos' %}">Contáctanos</a></li>
            <li class="item"><a href="{% url 'ayudanos' %}">Ayúdanos</a></li>
            <li class="item"><a href="{% url 'iniciosesion' %}">Login</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    
    <script>
        const toggle = document.querySelector(".toggle");
        const menu = document.querySelector(".menu");
        const items = document.querySelectorAll(".item");

        /* Toggle mobile menu */
        function toggleMenu() {
            if (menu.classList.contains("active")) {
                menu.classList.remove("active");
                toggle.querySelector("a").innerHTML = "<i class='fas fa-bars'></i>";
            } else {
                menu.classList.add("active");
                toggle.querySelector("a").innerHTML = "<i class='fas fa-times'></i>";
            }
        }

        /* Activate Submenu */
        function toggleItem() {
            if (this.classList.contains("submenu-active")) {
                this.classList.remove("submenu-active");
            } else if (menu.querySelector(".submenu-active")) {
                menu.querySelector(".submenu-active").classList.remove("submenu-active");
                this.classList.add("submenu-active");
            } else {
                this.classList.add("submenu-active");
            }
        }

        /* Close Submenu From Anywhere */
        function closeSubmenu(e) {
            let isClickInside = menu.contains(e.target);

            if (!isClickInside && menu.querySelector(".submenu-active")) {
                menu.querySelector(".submenu-active").classList.remove("submenu-active");
            }
        }
        /* Event Listeners */
        toggle.addEventListener("click", toggleMenu, false);
        for (let item of items) {
            if (item.querySelector(".submenu")) {
                item.addEventListener("click", toggleItem, false);
            }
            item.addEventListener("keypress", toggleItem, false);
        }
        document.addEventListener("click", closeSubmenu, false);
    </script>
    <!--MENU BAR FIN-->

    <!--Formularios-->
    <div class="formulario">
        <div class="row">
            <form action="" id="form_register" method="POST">
                <div class="form-group">
                    <label for="rut">Número de Documento: </label>
                    <input class="form-control" type="number" id="rut" name="rut" required>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="form-group">
                    <label for="paterno">Apellido Paterno</label>
                    <input class="form-control" type="text" id="paterno" name="paterno" required>
                </div>

                <div class="form-group">
                    <label for="materno">Apellido Materno</label>
                    <input class="form-control" type="text" id="materno" name="materno" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class= "form-control" type="email" id="email" name="email" required> 
                </div>

                <div class="form-group">
                    <label for="telefono"></label>
                    <input type="tel" clasS="form-control" type="telefono" id="telefono" name="telefono" required>
                </div>

            </form>

        </div>

    </div>